@using WebTest.Models;
@model List<Sach>

@{
    ViewBag.Title = "SachTheoNXB";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}


@{ int i = 0;}
@foreach (var item in Model)
{
    i++;
    <div id="SanPham">
        <div id="AnhBia">
            <img src="@Url.Content("~/Pictures/"+item.AnhBia)" width="100" height="150" />
        </div>
        <div id="ThongTin">
            @if (item.TenSach.Length < 35)
            {
                <div id="TenSach" title="@item.TenSach">@item.TenSach</div>
            }
            else
            {
                <div id="TenSach" title="@item.TenSach">@item.TenSach.Substring(0, 35)...</div>
            }

            <div id="DonGia" style="color:orange"><font color="green">Giá: </font>@string.Format("{0:0.00}", item.GiaBan + " VNĐ")</div>
        </div>
    </div>
    if (i % 3 == 0)
    {
        <div style="clear:both"></div>
    }
}
